<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <DataConfiguration>
    <Host Name = "AddressHost">yandex.ru</Host>
    <Protocol Name ="ProtocolName">ICMP</Protocol>
    <Interval Name = "TimeInterval">10</Interval>
  </DataConfiguration>
  <DataConfiguration>
    <Host Name = "AddressHost">google.com</Host>
    <Protocol Name ="ProtocolName">HTTP</Protocol>
    <Interval  Name = "TimeInterval">10</Interval>
    <HttpCode Name ="HttpStatusCode">200</HttpCode>
  </DataConfiguration>
  <DataConfiguration>
    <Host Name = "AddressHost">192.168.10.200</Host>
    <Protocol Name ="ProtocolName">tcp/ip</Protocol>
    <Interval  Name = "TimeInterval">10</Interval>
    <Port Name ="PortTcp">80</Port>
  </DataConfiguration>
</configuration>